// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  h1{
    margin-bottom: 0;
    margin-left: -256px;
  }
  p{
    font-size: 100px;
    padding-left: 128px;
    margin-top: -16px;
  }
}
